@import '../../styles/typography';
@import '../../styles/button';

.title {
  @extend %h1;

  margin-bottom: $spacing-sm;
  color: $color-primary;
}

.overTitle {
  @extend %small;

  color: $color-secondary;
  position: relative;
  margin-bottom: $spacing-sm;

  &::after {
    content: '';
    width: 10%;
    position: absolute;
    bottom: -8px;
    background-color: $color-accent;
    right: 0;
    height: 2px;
    left: 0;
  }
}

.ctaContainer {
  display: flex;
  justify-content: center;
}

.cta {
  @include button('primary');

  margin: rem(0 16 0 0);
}
