.title {
  @extend %h1;

  margin-bottom: $spacing-xs;
  color: $color-primary;
}

.cardsGrid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: rem(16);

  @include mq('tablet') {
    grid-template-columns: 1fr 1fr;
  }
}
