.input {
  border: rem(2) solid $color-neutral;
  border-radius: rem(5);
  box-shadow: unset;
  color: $color-dark;
  display: block;
  font-size: rem(16);
  margin-bottom: $spacing-sm;
  max-width: rem(700);
  padding: rem(10 14);
  width: calc(100% - 55px);

  &::placeholder {
    color: $color-neutral-light;
  }

  &:focus-visible {
    box-shadow: 0 0 5px $color-primary-light;
    outline-color: $color-primary-light;
  }
}

.inputWrapper {
  position: relative;

  .inputIcon {
    bottom: 0;
    color: $color-neutral;
    height: rem(16);
    left: rem(16);
    position: absolute;
    top: rem(12);
    width: rem(16);
  }

  .input {
    padding-left: rem(40);
  }
}
