.container {
  background-color: $color-dark-tone;
  border-radius: rem(5);
  box-sizing: border-box;
  margin: rem(100) auto $spacing-xl auto;
  max-width: rem(600);
  padding: rem(100) $spacing-xl $spacing-xl $spacing-xl;
  position: relative;

  &:hover {
    box-shadow: 0 0 20px 0 rgb($color-primary-light, 30%);
    transition: all 200ms;
  }
}

.title {
  @extend %h1;

  color: $color-primary;
  margin-bottom: $spacing-xl;
  text-align: center;
}

.detailsContainer {
  align-items: center;
  background-color: rgb($color-light, 0.03);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: $spacing-xl;
}

.pokemonDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
}

.details {
  @extend %p;

  color: $color-light;
  margin-bottom: $spacing-md;
  max-width: rem(500);
}

.detailsTitle {
  @extend %p;

  color: $color-primary;
  font-weight: 700;
  margin-bottom: $spacing-xs;
}

.image {
  background-color: white;
  border-radius: 50%;
  height: 200px;
  left: 50%;
  position: absolute;
  top: -100px;
  transform: translateX(-50%);
  width: 200px;
}
