$color-primary: #f5d923;
$color-primary-light: #f8e673;
$color-secondary: #cdcdcd;
$color-dark: #242c3a;
$color-neutral: #3e3e3e;
$color-neutral-light: #aeaeae;
$color-light: #fff;
$color-accent: #f00;
