.container {
  display: flex;
  flex-direction: column;
  background-color: $color-dark;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 $spacing-md;

  @include mq('desktop') {
    margin: 0 auto;
    max-width: rem(500);
  }
}

.containerImg {
  width: 100%;
  height: 100%;
  color: $color-light;
  opacity: 0.05;
  position: absolute;
  left: -30%;
  top: -30%;
  transform: rotate(-30deg);
}

.navBar {
  padding: rem(20);
}

.list {
  display: flex;
  justify-content: flex-end;
}

.listItem {
  color: $color-light;
  margin-left: $spacing-xs;
  font-size: rem(16);

  @include mq('desktop') {
    margin-left: $spacing-sm;
  }
}
