.card {
  background-color: $color-dark-tone;
  border-radius: rem(5);
  padding: rem(20);
  width: calc(100% - #{rem(40)});
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 15px 0 rgb($color-primary-light, 30%);
    transition: all 200ms;
  }
}

.name {
  @extend %h3;

  color: $color-light;
}

.imgContainer {
  background-color: $color-light;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.img {
}
