.card {
  align-items: flex-end;
  background-color: $color-dark-tone;
  border-radius: rem(5);
  box-shadow: 0 0 rem(10) 0 rgb($color-black, 30%);
  display: flex;
  justify-content: space-between;
  padding: rem(20);
  text-decoration: none;
  width: calc(100% - #{rem(40)});

  &:hover {
    box-shadow: 0 0 rem(15) 0 rgb($color-primary-light, 30%);
    transition: all 200ms;
  }
}

.name {
  @extend %h3;

  color: $color-light;
}

.imgContainer {
  height: rem(100);
  width: rem(100);
}
